 <p>This is my client works!</p>





 <table class="client" >
     <tr>
       <th>First Name</th>
       <th>Last Name</th>
       <th>Email Address</th>
       <th>Active</th>
       <th>Mobile</th>
       <th>Nick Name</th>
       <th>Type</th>
     </tr>
   <tr *ngFor="let client of clients | async" (click)="onSelect(client)">
     <td>{{client.firstName}}</td>
     <td> {{client.lastName}}</td>
     <td> {{client.emailAddress}}</td>
     <td> {{client.active}}</td>
     <td> {{client.countryCode}} - {{client.mobile}}</td>
     <td> {{client.nickName}}</td>
     <td> {{client.type}}</td>
   </tr>




 </table>


<!-- <div *ngIf="selectedData">
   {{selectedData.firstName}}
   {{selectedData.lastName}}
   {{selectedData.emailAddress}}
 </div>-->

 <app-client-form [client]="selectedData"></app-client-form>
